### Loading different excel sheets in fibooks  

Excel spreadsheets containing financial statements can differ a lot. Therefore, fibooks is able to process the majority of financial statements algorithmically/automatically. If this doesn't work, fibooks also allows users to customize the *template* (see second example).  

Here, the user can fill in the **final account** of a category (e.g. *Gross Profit* can be the last account in *revenues*) *and* the user can fill in accounts that fibooks should ignore. Often, these are accounts that you want to calculate yourself, like ebit or ebt.

In [1]:
from fibooks import income_statement
import json

#### EXAMPLE 1

![excel](https://github.com/TimoKats/medium_articles/blob/3450d7ea16177863e3194386664eb62c91218a53/img/Screenshot%20(21).png?raw=true)

In [2]:
example_1 = income_statement('example 1')
example_1.load_excel('income statement 1.xlsx')
example_1.content

,revenue,gross revenue,discounts,net revenue,cogs,raw materials,fulfillment,transaction fees,total cogs,operating expenses,labor,marketing,sga & other,total opex,ebitda,depreciation & amortization,ebit,interest expense,ebt
0,20.0,30.0,40.0,50.0,40.0,30.0,25.00,23.00,6.00,2.00,4.00,4.00,6.00,7.00,2.00,8.00,5.00,3.00,3.00
1,20.6,30.9,41.2,51.5,41.2,30.9,25.75,23.69,6.18,2.06,4.12,4.12,6.18,7.21,2.06,8.24,5.15,3.09,3.09

![excel](https://github.com/TimoKats/medium_articles/blob/3450d7ea16177863e3194386664eb62c91218a53/img/Screenshot%20(22).png?raw=true)

#### EXAMPLE 2

Here, I upload a json with the standard categories of an income statement. In this template, I give the last account of a category (so net revenue is the last account of revenues) and I tell fibooks which accounts it should ignore.

In [3]:
template = json.load(open('template.json'))
print(json.dumps(template, indent=2))

{
  "revenues": [
    "net revenue"
  ],
  "expenses": [
    "ebt"
  ],
  "ignore": [
    "net income",
    "gross profit"
  ]
}

In [4]:
example_2 = income_statement('example 2')
example_2.load_excel('income statement 2.xlsx')
example_2.set_template('template.json')
example_2.content

,revenue,gross revenue,discounts,net revenue,cost of goods sold (cogs),raw materials,fulfillment,transaction fees,total cogs,operating expenses,labor,marketing,sga & other,total opex,ebitda,depreciation & amortization,ebit,interest expense,ebt
0,20.0,30.0,40.0,50.0,40.0,30.0,25.00,23.00,6.00,2.00,4.00,4.00,6.00,7.00,2.00,8.00,5.00,3.00,3.00
1,20.6,30.9,41.2,51.5,41.2,30.9,25.75,23.69,6.18,2.06,4.12,4.12,6.18,7.21,2.06,8.24,5.15,3.09,3.09

#### EXAMPLE 3

![excel](https://github.com/TimoKats/medium_articles/blob/3450d7ea16177863e3194386664eb62c91218a53/img/Screenshot%20(23).png?raw=true)

In [5]:
example_3 = income_statement('example 3')
example_3.load_excel('income statement 3.xlsx')
example_3.content

,revenue,gross revenue,discounts,net revenue,cost of goods sold (cogs),raw materials,fulfillment,transaction fees,total cogs,operating expenses,labor,marketing,sga & other,total opex,ebitda,depreciation & amortization,ebit,interest expense,ebt
0,20,30,40,50,40,30,25,23,6,2,4,4,6,7,2,8,5,3,3